.nn-wrapper {
  display: grid;
  height: 100%;
  align-items: center;
  grid-template-areas: "map map map map slider slider" "map map map map slider slider";
  grid-template-rows: 300px 300px;
  grid-template-columns: repeat(6, 1fr);
}

.covid-map {
  grid-area: map;
}

.sliders-container {
  border-radius: 20px;
  background: coral;
  height: 300px;
  width: fit-content;
  position: absolute;
  top: 50%;
  z-index: 5;
  padding: 1.5rem;
  padding-left: 1rem;
  padding-bottom: 0.7rem;
  cursor: move;
}

.dates {
  height: 80%;
  transform: translateX(-10px);
}
