.grida {
  display: grid;
  gap: 2.5rem;
  row-gap: 2rem;
  padding: 1.5rem;
  padding-top: 0;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: 175px 225px 200px 100px;
  grid-template-areas: "chart chart chart chart chart shop shop shop shop" "chart chart chart chart chart general general general general" "detaila detaila detaila detaila detaila general general general general" "detaila detaila detaila detaila detaila general general general general";
}

.grida .grida-p {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.grida .stock-shop {
  grid-area: shop;
}

.grida .chart {
  grid-area: chart;
  align-self: flex-start;
}

.grida .general {
  grid-area: general;
  transition: all 1s linear !important;
}

.grida .general ul {
  padding: 0.5rem;
  list-style: none;
}

.grida .detail1 {
  grid-area: detaila;
  align-self: flex-start;
}

.list-modelo li {
  padding: 0px 5px;
  display: flex;
  margin: 10px 0px;
}

.list-modelo li .list-field {
  position: relative;
}

.list-modelo li .list-field:before {
  content: "";
  position: absolute;
  height: 2px;
  width: 150%;
  background-color: #3f51b5;
  bottom: 0;
}
