.p-grid {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  row-gap: 2rem;
  column-gap: 2rem;
  grid-template-areas: "news news news resu resu resu" "news news news resu resu resu" "news news news resu resu resu" "news news news resu resu resu";
}

.header {
  grid-area: header;
  background-color: lightblue;
}

.p-left {
  grid-area: news;
  background-color: lightblue;
  overflow: scroll;
}

.p-right-top {
  grid-area: resu;
  background-color: lightblue;
  overflow: scroll;
}

.p-right-bottom {
  grid-area: chart;
  background-color: lightblue;
  overflow: scroll;
}

.gainers ul {
  display: flex;
}

.search-section {
  background-color: yellow;
  border-radius: 60px;
  display: flex;
  padding: 2rem;
  margin-bottom: 3rem;
}

.nn-wrapper {
  display: grid;
  height: 100%;
  align-items: center;
  grid-template-areas: "map map map map slider slider" "map map map map slider slider";
  grid-template-rows: 300px 300px;
  grid-template-columns: repeat(6, 1fr);
}

.covid-map {
  grid-area: map;
}

.sliders-container {
  padding: 2rem;
  border-radius: 20px;
  background: coral;
  height: 300px;
  width: fit-content;
  position: absolute;
  top: 70%;
}

.carousel--ticker {
  height: 100%;
}

.carousel--ticker .CarouselItem {
  height: 100%;
}

.navigation-right ul {
  display: flex;
  justify-content: flex-end;
}

.navigation-right ul li {
  list-style: none;
  margin: 0 0.5rem;
}

.grid--indexes {
  display: grid;
  width: 100%;
  gap: 1rem;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "chart chart components components components components";
}

.grid--indexes .chart {
  grid-area: chart;
  height: 400px;
}

.grid--indexes .constituents {
  grid-area: components;
}

.news-item .image-container img {
  max-width: 100%;
}

.content .news-subtitle {
  font-weight: lighter;
}

.news-item-over {
  display: grid;
  grid-template-columns: 1px 1fr 1px;
  grid-template-rows: repeat(5, 1fr);
  grid-auto-flow: dense;
  grid-column: 1/5;
  align-self: start;
}

.news-item-over .content {
  grid-column: 2/3;
  grid-row: 4/-1;
  position: relative;
  background-color: #071d39;
  color: white;
  padding: 1rem;
  box-sizing: border-box;
  height: 100%;
}

.news-item-over .content .news-subtitle {
  margin-bottom: 0;
}

.news-item-over .content .news-title {
  margin-top: 0.5rem;
}

.news-item-over .content:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 90px;
  top: -88px;
  left: 0;
  background: linear-gradient(transparent, #071d39);
}

.news-item-over .image-container {
  grid-column: 2/3;
  grid-row: 1/-1;
}

.news-item-over .image-container img {
  max-width: 100%;
}

.news-grid-parent {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2rem;
}

.news-grid-parent .news-layout-big {
  grid-column: 1/5;
}

.news-grid-parent .news-layout-small {
  grid-column: 5/-1;
  display: grid;
  grid-template-rows: repeat(2, auto);
  gap: 1rem;
  height: 100%;
}

@media (min-width: 500px) {
  .news-item {
    display: grid;
    grid-template-columns: [content] 3fr [imago] 1fr;
    grid-gap: 2rem;
    grid-auto-flow: dense;
    align-items: center;
    min-height: 175px;
  }
  .news-item .content {
    grid-column: content;
  }
  .news-item .content .news-subtitle {
    margin-bottom: 0;
  }
  .news-item .content .news-title {
    margin-top: 0.5rem;
  }
  .news-item .image-container {
    grid-column: imago;
  }
  .news-item .image-container img {
    max-width: 100%;
  }
}

@media (min-width: 1000px) {
  .news-item {
    margin: 2rem auto;
  }
}

.user-dashboard {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.user-dashboard .user-dashboard--item {
  background-color: yellow;
  border: 1px solid black;
}

.wrapper-reference {
  position: relative;
  height: 80vh;
}

.wrapper-reference .loader-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
}
