@import "./principal/principal.scss";
@import "./covid/covid.scss";
@import "./company/carousel.scss";
@import "./company/financials.scss";
@import "./indexes/indexes.scss";
@import "./news/news.scss";
@import "./dashboard/usermain.scss";
@import "./Company/company.scss";
@import "./form/form.scss";
@import "./feed/feed.scss";

.wrapper-reference {
    position: relative;
    height: 80vh;
    .loader-wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 50%);
    }
}
.wrapper-referencef {
    height: 100%;
    width: 100%;
    .loader-wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 50%);

        *{
            color: #FF0080;
        }
    }
}

.radius {
    border-radius: 1rem;
}
