.header {
  grid-area: header;
  background-color: lightblue;
}

.p-left {
  grid-area: news;
  background-color: lightblue;
  height: 500px;
  padding: 1rem;
}

.p-right-top {
  grid-area: resu;
  background-color: lightblue;
  height: 500px;
  padding: 1rem;
}

.p-right-bottom {
  grid-area: chart;
  background-color: lightblue;
  overflow: scroll;
}

.gainers ul {
  display: flex;
}

.search-section {
  background-color: yellow;
  border-radius: 60px;
  display: flex;
  padding: 2rem;
  margin-bottom: 3rem;
}

@media (min-width: 1000px) {
  .p-grid {
    display: grid;
    width: 100%;
    margin-bottom: 5rem;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    row-gap: 2rem;
    column-gap: 2rem;
    grid-template-areas: "news news news resu resu resu" "news news news resu resu resu" "news news news resu resu resu" "news news news resu resu resu";
  }
}

.principal-section {
  height: 430px;
  overflow: auto;
}

.gl-wrapper {
  display: grid;
  grid-template-columns: [info] 1.5fr [chart] 1fr;
  grid-template-rows: auto;
  background: white;
  height: 100%;
  overflow: hidden;
  padding: 14.7px 11.7px !important;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
}

.gl-wrapper .info {
  grid-column: info;
  overflow: hidden;
}

.gl-wrapper .info p:first-of-type {
  color: blue;
}

.gl-wrapper .chart {
  grid-column: chart;
  overflow: hidden;
}

.item {
  background: lightgreen;
  height: 100px;
}

.spacer {
  width: 202px !important;
  height: 100px !important;
  padding: 0 10px !important;
}

.alice-carousel__prev-btn,
.alice-carousel__next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 !important;
}

.alice-carousel__prev-btn *,
.alice-carousel__next-btn * {
  padding: 0 !important;
}

.alice-carousel__prev-btn {
  left: -15px;
  text-align: left !important;
}

.alice-carousel__next-btn {
  right: -15px;
  text-align: right !important;
}

.alice-carousel__wrapper {
  z-index: -1;
}

.searcher2 {
  position: relative;
  height: 100px;
  /* input:nth-child(2) {
        z-index: 1;
      } */
}

.searcher2 p,
.searcher2 #transparent {
  height: 100%;
  position: absolute;
  width: 100%;
}

.searcher2 #transparent {
  color: transparent;
  outline: none;
  border: 1px solid black;
  top: 0;
  left: 0;
  background: transparent;
}

.searcher2 p {
  background: lightblue;
  /* overflow-x: scroll; */
  position: absolute;
  top: 0;
  left: 0;
}

.searcher2 .caret {
  display: inline-block;
  width: 5px;
  height: 70%;
  background: black;
  position: absolute;
  animation: blink 1.2s ease infinite;
  text-align: left;
  opacity: 0;
  transform: translateX(2px);
}

@keyframes blink {
  1% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.searcher3 {
  position: absolute;
  width: 90vw;
  top: 100px;
  z-index: 5;
}

.searcher3 .wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.searcher3 .expandable {
  background: lightblue;
  transition: transform 0.3s ease;
  /* margin-top: 3rem; */
  /* transform-origin: top; */
  height: 50px;
  position: absolute;
  width: 100%;
}

.searcher3 input {
  position: absolute;
  width: 90%;
  z-index: 1;
  transition: transform 0.3s ease;
  padding: 1rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.searcher3 .lista-search {
  opacity: 0;
  transition: opacity 0.2s ease 0.4s;
  background: red;
  width: 100%;
  height: 100%;
  position: absolute;
}

.searcher4 {
  position: absolute;
  background: #3f51b5;
  width: 80%;
  top: 260px;
  z-index: 5;
  transition: height 0.2s ease, transform 0.4s ease;
  transform: translateY(0px);
  border: 16px solid #3f51b5;
  border-top: 35px solid #3f51b5;
  border-radius: 10px;
  box-sizing: content-box;
  right: 0;
  left: 0;
  margin: 0 auto;
}

.searcher4:before {
  content: "stock searcher";
  position: absolute;
  top: -30px;
  color: white;
  font-size: 20px;
}

.searcher4.open {
  transform: translateY(-50px);
  z-index: 2001;
}

.searcher4 input {
  width: calc(100% - 16px - 1rem - 4px);
  z-index: 1;
  transition: transform 0.3s ease;
  padding: 1rem;
  outline: 0;
  border-radius: 5px;
  border-color: white;
  box-shadow: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.searcher4 .lista-search {
  opacity: 0;
  transition: opacity 0.2s ease 0.4s;
  width: 100%;
  color: white;
  transform: translateY(0%);
}

.nn-wrapper {
  display: grid;
  height: 100%;
  align-items: center;
  grid-template-areas: "map map map map slider slider" "map map map map slider slider";
  grid-template-rows: 300px 300px;
  grid-template-columns: repeat(6, 1fr);
}

.covid-map {
  grid-area: map;
}

.sliders-container {
  border-radius: 20px;
  background: coral;
  height: 300px;
  width: fit-content;
  position: absolute;
  top: 50%;
  z-index: 5;
  padding: 1.5rem;
  padding-left: 1rem;
  padding-bottom: 0.7rem;
}

.dates {
  height: 80%;
  transform: translateX(-10px);
}

.carousel--ticker {
  height: 100%;
}

.carousel--ticker .CarouselItem {
  height: 100%;
}

.navigation-right ul {
  display: flex;
}

.navigation-right ul li {
  list-style: none;
  margin: 0 0.5rem;
}

.table-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-columns: "icon title title spacing year year year year year";
}

.MuiTableCell-root {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.nested-cell.MuiTableCell-root {
  padding: 0px !important;
}

.statement-table * {
  font-size: 12px !important;
}

.grid--indexes {
  display: grid;
  width: 100%;
  gap: 1rem;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "chart chart components components components components";
}

.grid--indexes .chart {
  grid-area: chart;
  height: 400px;
}

.grid--indexes .constituents {
  grid-area: components;
}

.news-item .image-container img {
  max-width: 100%;
}

.content .news-subtitle {
  font-weight: lighter;
}

img {
  -webkit-transform: translate3d(0, 0, 0);
}

.fade-img-wrapper {
  opacity: 0;
  animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.news-item-over {
  display: grid;
  grid-template-columns: 1px 1fr 1px;
  grid-template-rows: repeat(5, 1fr);
  grid-auto-flow: dense;
  grid-column: 1/5;
  align-self: start;
}

.news-item-over .content {
  grid-column: 2/3;
  grid-row: 4/-1;
  position: relative;
  background-color: #071d39;
  color: white;
  padding: 1rem;
  box-sizing: border-box;
  height: 100%;
}

.news-item-over .content .news-subtitle {
  margin-bottom: 0;
}

.news-item-over .content .news-title {
  margin-top: 0.5rem;
}

.news-item-over .content:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 90px;
  top: -88px;
  left: 0;
  background: linear-gradient(transparent, #071d39);
}

.news-item-over .image-container {
  grid-column: 2/3;
  grid-row: 1/-1;
}

.news-item-over .image-container img {
  max-width: 100%;
}

.news-grid-parent {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2rem;
}

.news-grid-parent .news-layout-big {
  grid-column: 1/5;
}

.news-grid-parent .news-layout-small {
  grid-column: 5/-1;
  display: grid;
  grid-template-rows: repeat(2, auto);
  gap: 1rem;
  height: 100%;
}

@media (min-width: 500px) {
  .news-item {
    display: grid;
    grid-template-columns: [content] 3fr [imago] 1fr;
    grid-gap: 2rem;
    grid-auto-flow: dense;
    align-items: center;
    min-height: 175px;
  }
  .news-item .content {
    grid-column: content;
  }
  .news-item .content .news-subtitle {
    margin-bottom: 0;
  }
  .news-item .content .news-title {
    margin-top: 0.5rem;
  }
  .news-item .image-container {
    grid-column: imago;
  }
  .news-item .image-container img {
    max-width: 100%;
  }
}

@media (min-width: 1000px) {
  .news-item {
    margin: 2rem auto;
  }
}

.positions {
  min-height: 32%;
  margin-bottom: 1rem;
}

.positions > header {
  display: flex;
  padding: 0.5rem;
}

.positions > header h3 {
  flex: 1;
}

.positions .positions-body ul {
  list-style: none;
}

.positions .positions-body ul li {
  display: flex;
  padding: 0.5rem;
}

.positions .positions-body ul li img {
  flex-basis: 50px;
  margin-right: 30px;
  height: 50px;
  border-radius: 15px;
}

.positions .positions-body ul li .additional-wrap {
  flex: 1;
  display: flex;
  justify-content: space-around;
}

.positions .positions-body ul li .additional-wrap .field-2 {
  flex: 1;
}

.positions .positions-body ul li .additional-wrap .field-3 {
  flex: 1;
}

.user-dashboard {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.user-dashboard .user-dashboard--item {
  background-color: yellow;
  border: 1px solid black;
}

.marcador1-wrap {
  width: 70%;
  display: flex;
  min-height: 250px;
  position: relative;
  justify-content: space-between;
}

.marcador1-wrap div:first-child {
  margin-right: 10px;
}

.marcador1-wrap .marcador {
  background: #e8edf6;
  border-radius: 10px;
  flex: 0.95;
  display: flex;
  flex-direction: column;
}

.marcador1-wrap .marcador > header {
  padding-left: 30px;
  display: flex;
  padding: 1rem;
  border-bottom: 1px solid lightgray;
}

.marcador1-wrap .marcador .marcador-item--body {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
}

.marcador2-wrap {
  width: 70%;
  display: flex;
  min-height: 250px;
  position: relative;
  justify-content: space-between;
}

.marcador2-wrap div:first-child {
  margin-right: 10px;
}

.marcador2-wrap .marcador {
  background: #e8edf6;
  border-radius: 20px;
  flex: 0.95;
  display: flex;
  flex-direction: column;
  position: relative;
}

.marcador2-wrap .marcador .absolute {
  position: absolute;
  border-radius: 15px;
  width: 70px;
  height: 70px;
  background: gray;
  top: 10px;
  left: 10px;
}

.marcador2-wrap .marcador > header {
  padding: 1rem;
  padding-right: 30px;
  border-bottom: 1px solid lightgray;
  text-align: right;
}

.marcador2-wrap .marcador .marcador-item--body {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
}

.dasboard-grid--desktop {
  display: grid;
  grid-template-columns: [principal] 1.5fr [secondary] 1fr;
  gap: 1rem;
}

.principal {
  grid-area: principal;
}

.principal > header {
  text-align: center;
}

.secondary {
  grid-area: secondary;
}

.lateral-section > header {
  text-align: center;
}

.lateral-section .avatar-section {
  text-align: center;
}

.lateral-section .avatar-section .placeholder {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: gray;
}

.performance-chart1, .portfolio-chart {
  margin-bottom: 1rem;
}

.menu-item--selected {
  background: #3f51b5 !important;
  color: white !important;
}

.grida {
  display: grid;
  gap: 2.5rem;
  row-gap: 2rem;
  padding: 1.5rem;
  padding-top: 0;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: 175px 225px 200px 100px;
  grid-template-areas: "chart chart chart chart chart shop shop shop shop" "chart chart chart chart chart general general general general" "detaila detaila detaila detaila detaila general general general general" "detaila detaila detaila detaila detaila general general general general";
}

.grida .grida-p {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.grida .stock-shop {
  grid-area: shop;
}

.grida .chart {
  grid-area: chart;
  align-self: flex-start;
}

.grida .general {
  grid-area: general;
  overflow: scroll;
  height: auto;
  transition: all 1s linear !important;
}

.grida .general.overflown {
  overflow: auto;
}

.grida .general ul {
  padding: 0.5rem;
  list-style: none;
}

.grida .detail1 {
  grid-area: detaila;
  align-self: flex-start;
}

.list-modelo li {
  padding: 0px 5px;
  display: flex;
  margin: 10px 0px;
}

.list-modelo li .list-field {
  position: relative;
}

.list-modelo li .list-field:before {
  content: "";
  position: absolute;
  height: 2px;
  width: 150%;
  background-color: #3f51b5;
  bottom: 0;
}

.form-wrap {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  margin-top: 3rem;
}

.feed-wrapper {
  display: grid;
  grid-template-columns: 80px 1fr;
  margin-bottom: 10px;
}

.feed-wrapper .tall-part {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feed-wrapper .feed-main {
  background-color: transparent;
}

.tall-part img {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  margin-bottom: 5px;
}

.tall-part .line-wrapper {
  height: 100%;
  padding: 0 5px;
}

.tall-part .line-wrapper p.line {
  height: 100%;
  width: 5px;
  background-color: #edeff1;
}

.tall-part .line-wrapper:hover .line {
  background-color: orange;
}

.feed-main header.feed-header {
  display: flex;
}

.feed-main .feed-body {
  background-color: transparent;
  margin-bottom: 10px;
}

.feed-main .feed-body .feed-footer {
  display: flex;
}

.feed-main .feed-body .editor-wrapper {
  padding-left: 10px;
}

.RichEditor-root {
  background: #fff;
  border: 1px solid #ddd;
  font-size: 14px;
}

.RichEditor-root .RichEditor-editor {
  padding: 15px;
}

.post {
  display: grid;
  grid-template-columns: 80px 1fr;
  opacity: 0;
}

.post.is-selected {
  background-color: white;
  opacity: 1;
}

.post img.avatar {
  width: 50px;
  height: 50px;
}

.post .post-footer {
  display: flex;
  justify-content: space-between;
}

.wrapper-reference {
  position: relative;
  height: 80vh;
}

.wrapper-reference .loader-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
}

.wrapper-referencef {
  height: 100%;
  width: 100%;
}

.wrapper-referencef .loader-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
}

.wrapper-referencef .loader-wrapper * {
  color: #FF0080;
}

.radius {
  border-radius: 1rem;
}
