.people-item {
    height: 300px;
    display: flex;
    flex-direction: column;
    margin: 0 0.7rem;
    margin-bottom: 2rem;
    position: relative;
    border-radius: 10px !important;
    background: #3f51b5 !important;
    &__username {
        font-size: 1.5rem;
    }
    
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 7px 10px 5px;
        flex: 1;
        //show over the chart
        position: relative;
        z-index: 1;

    }

    &__image-container {
        width: 60px;
        height: 60px;
    }
    &__image {
        display: none;
        height: 100%;
        width: 100%;
        border-radius: 100%;

        &--loaded {
            @extend .people-item__image;
            display: unset;
        }
    }
}

@media (min-width: 300px) {
    .people-item {
        width: calc(max(30%, 280px));
    }
}
@media (min-width: 800px) {
    .people-item {
        width: calc(max(22%, 350px));
    }
}

.operations-header {
    //width: calc(100% - 50px);
    .MuiDataGrid-root {
        padding-left: 1rem;
        //border-right: none;
    }

    .MuiDataGrid-columnSeparator {
        &:last-of-type {
            display: none;
        }
    }
}

.people-item__chartWrapper {
    position: relative;
    bottom: 0;
    width: 100%;
    border: 5px solid #3f51b5;
    border-radius: 10px;
    //height: 70%;
    flex: 3;
    z-index: 1;
    //height: 1;
}

.people__item__performace {
    position: absolute;
    bottom: 0;
    font-size: 25px;
}

.people-overview-stockchart {
    position: relative;
    z-index: -1;
    border-radius: 10px;
    height: 100%;
}
