.profile-sidebar {
    height: 150px;
    background: lightcoral;
    display: flex;

    .section {
        flex: 1;

        img {
            height: 100%;
            object-fit: cover;
        }

        h3 {
        }

        p {
        }
    }
}
